<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!--  java 코드에 선언한 스프링 어노테이션을 읽어들일 수 있게 하는 태그! -->
	<mvc:annotation-driven/>
	
	<!-- @controller 들이 반환하는 String 타입의 문자열을 읽어서, views 안의 jsp 파일로 응답할 수 있게 해주는 태그 -->
	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/views/" suffix=".jsp"/>
	</mvc:view-resolvers>

</beans>