<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  
  <!-- 
  	웹 서버(톰캣)이 서비스할 때 web.xml을 먼저 읽음 
  	등록된 frontController가 모든 요청을 받음 (/ 경로 지정)
  	frontController가 요청을 읽어서 해당 요청을 처리할 Controller로 넘겨줌 (@Controller)
  	해당 컨트롤러에서 @RequestMapping에 따라 특정 메서드 동작(필요시 Model을 통한 비즈니스 로직 동작)
  	그 결과 String 타입 jsp 이름 반환
  	
   -->
  
  <display-name>springMVC</display-name>
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name> <!-- front-controller -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name> <!--  꼭 이 이름 써야함 -->
			<param-value> <!-- 서블릿 초기화 할때 설정파일을 파라미터로 넘겨줌 -->
				classpath:spring-mvc.xml
				classpath:spring-controller.xml
				classpath:spring-member.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup> <!--  서버가 시작되면 바로 이 서블릿 생성 -->
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 인코딩 설정 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>